<nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="300">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse"
              data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">TTÜ Tantsutüdrukud</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="../index.html" class="nav-link">News</a>
        </li>
        <li class="nav-item">
          <a href="../index.html" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Trainings</a>
        </li>
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Coaches</a>
        </li>
        <li class="nav-item">
          <a href="../index.html" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
             href="https://twitter.com/CreativeTim" target="_blank">
            <i class="fa fa-twitter"></i>
            <p class="hidden-lg-up">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
             href="https://www.facebook.com/CreativeTim" target="_blank">
            <i class="fa fa-facebook-square"></i>
            <p class="hidden-lg-up">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
             href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fa fa-instagram"></i>
            <p class="hidden-lg-up">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Youtube" data-placement="bottom"
             href="https://www.youtube.com/user/TTYtants" target="_blank">
            <i class="fa fa-youtube"></i>
            <p class="hidden-lg-up">Youtube</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li><a href="http://cheerunion.org/2017splash/">International Cheer Union</a></li>
        </ul>
      </nav>
      <div class="credits ml-auto">
					<span class="copyright">
						© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i>
            by Allar
					</span>
      </div>
    </div>
  </div>
</footer>
